.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 { text-transform: none; }
hr { border-top: 1px solid white; }

/* Reveal controls logo */
aside.controls::before {
  content: "";
  background-image: url('{{ "/assets/images/Duke-logo.png" | relative_url }}');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 155px; height: 100px;
  display: block; right: 90px; top: -68px; position: absolute;
}
